@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #ffffff;
    cursor: default;
}

.logo span {
    color: #ff7b00;
}

.navigation {
    margin-left: -400px;
}

.navigation a {
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: #ff7b00;
    font-size: 1.2em;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('black_4K-1967639.jpg!d');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content {
    max-width: 500px;
    color: #ffffff;
}

.content h2 {
    font-size: 3em;
}

.content h2 span {
    color: #ff7b00;
}

.content h4 {
    font-size: 2em;
}

.pp {
    max-width: 500px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.home h2 {
    font-size: 45px;
    color: #ff7b00;
}

.pp h4 {
    font-size: 30px;
}

.propro{
    list-style-position: outside;
    list-style-type: square;
    font-size: 20px; 
    margin-left : 60px;
    font-size: 20px;
}

img {
    display: flex;
    width : auto;
    height : 150px;
    transition: transform .1s;
}

img:hover{
    transform:scale(1.25);
}

.ci {
    max-width: 500px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.home h2 {
    font-size: 45px;
    color: #ff7b00;
}

.ci h4 {
    font-size: 30px;
}

.cein a {
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.cein{
    list-style-position: outside;
    list-style-type: square;
    font-size: 20px; 
    padding : 50px;
}

.cein a:hover {
    color: #ff7b00;
    font-size: 1.2em;
}
